/* Perspective must be on parent */
.username-wrapper {
  perspective: 1000px;
}

/* Card */
.username {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
    font-family:'Press Start 2P', cursive;;
  width: 100%;
  max-width:700px;
  margin:2rem auto;
  height: 4rem;
  margin-top: 2rem;
  padding: 12px 16px;

  background: #fff;
  border-radius: 12px;

  cursor: pointer;

  transform-style: preserve-3d;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}
.names{
      font-family: 'Press Start 2P', cursive;
      font-size: small;
      font-weight: lighter;
}

/* TRUE 3D pop-out */
.username:hover {
  transform: translateZ(30px) scale(1.03);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}

/* Click press */
.username:active {
  transform: translateZ(10px) scale(0.98);
}
.header-text{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P',sans-serif;
}