@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

body {
  font-family: "Bitcount Prop Single", sans-serif;
}

.center-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  size: 10px;
}