.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.Login-card{
justify-content: center;
align-items: center;
    width:350px;
    padding: 20px;
}
.full {
  width: 100%;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}